* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #EEE;
}

#nav-bar {
    background-color: #BBB;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
}

#main-logo-img {
    margin-left: 10px;
    height:60px;
    width: 60px;
}

.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: auto;
    text-decoration: none;
    color: #2470B9;
    transition: 0.2s;
}

.nav-link:hover {
    color: #194E81;
}

#greeting-container {
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("pcbRouting.jpg");
}

#greeting-text-container {
    background-color:rgba(0, 0, 0, 0.5);
    width: fit-content;
    border-radius: 5px;
    padding: 50px;
}

#greeting-header {
    font-size: 80px;
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
    color: #2470B9;
}

#greeting-message {
    color: white;
    font-size: 20px;
}

#current-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("binaryWallpaper.webp");
}

#current-project-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
}

#current-project-title{
    color: #2470B9;
    margin-bottom: 20px;
    font-size: 40px;
}

#current-project-img {
    display: flex;
    height: auto;
    max-width: 80%;
    border-radius: 5px;
}

#current-project-link {
    margin: 30px;
    color: white;
    font-size: 36px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    border-radius: 5px;
    background-color:#2470B9;
}

#footer-bar {
    background-color: #4E5C71;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 100%;
}

.email-info-footer {
    color: white;
}

/* ----- ABOUT PAGE STYLING ----- */

#main-container-about {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("spaceBackground.jpeg");
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#text-container-about {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    padding: 10px;
    max-width: 75%;
    height: fit-content;
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.about-title-text {
    font-size: 40px;
    margin-bottom: 10px;
    color: #2470B9;
}

.about-paragraph {
    font-size: 20px;
}

#email-link {
    color: #2470B9;
}

.about-subtitle-text {
    font-size: 25px;
}

.about-skills-list {
    margin-left: 40px;
    font-size: 18px;
}

/* ----- PROJECTS PAGE ----- */

#main-container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.project-tile-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 70px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #4E5C71;
}

.project-tile-img {
    position: absolute;
    height: 200px;
}

.project-tile-text {
    display: flex;
    width: 100%;
    text-decoration: none;
    font-size: 40px;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

#coming-soon-text {
    margin-top: 0px;
}

/* ----- POWER SUPPLY PAGE ----- */

.main-container {
    min-height: 100vh;
    padding: 20px;
}

.project-title {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #2470B9;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-banner-img-container {
    overflow-x: scroll;
}

.project-banner-img {
    display: flex;
    margin: auto;
    width: 1800px;
}

.project-goals-subtitle {
    color: #2470B9;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 5%;
}

.project-goals-text {
    font-size: 18px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: justify;
}